@font-face {
    font-family: sfpro;
    src: url(./font/SFPRODISPLAYREGULAR.OTF);
}

body {
    margin: 0;
    font-family: sfpro;
}

/* Main Grid Section */

.gridcontainer {
    display: grid;
    grid-template-columns: [first] 20vw [line2] auto;
    grid-template-rows: [row1-start] 20vh [line2] ;
    height: 100vh;
}

.leftbar {
    background-color: lightcoral;
    grid-column-start: 1;
    grid-column-end: 2 ;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(./images/spaceimage.jpg);
    background-size: cover;
    border-right-color: white;
    border-right-width: 0.5vw;
    border-right-style: solid;
}


.topbar {
    background-color: aqua;
}

/* Projects, announcements and trending */

.main {
    background-color: blueviolet;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: [first] 70% [line2] auto;
    grid-template-rows: [first] 50% [line2] 50%; 
}

.projects {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: purple;
}

.announcements {
    background-color: blue;
}

/* Left Bar (lb-xxxx) */ 

.leftbar {
    display: flex;
    flex-direction: column;
}

.lb-container {
    margin-left: 2vw ;
    margin-top:  2vw ;
    font-size: 3vh;
    color: white;
}

.lb-dashboard {
    font-size: 4vh;
    font-weight: 900;
    margin-bottom: 3vh;
}

.lb-tasks {
    margin-bottom: 3vh;
}

.lb-github {
    position: absolute;
    bottom: 3vh;
    color: rgb(109, 109, 109);
}

.lb-container:hover {
    cursor: pointer;
}

/* Top Bar (tb-xxxx) */ 

.tb-container {
    display: flex;
    flex-direction: column;
}

.tb-topsection {
    display: flex;
}