body {
    margin: 0;
}

.gridcontainer {
    display: grid;
    grid-template-columns: [first] 20vw [line2] auto;
    grid-template-rows: [row1-start] 20vh [line2] ;
    height: 100vh;
}

.leftbar {
    background-color: lightcoral;
    grid-column-start: 1;
    grid-column-end: 2 ;
    grid-row-start: 1;
    grid-row-end: 3;
}


.topbar {
    background-color: aqua;
}

.main {
    background-color: blueviolet;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: [first] 70% [line2] auto;
    grid-template-rows: [first] 50% [line2] 50%; 
}

.projects {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: purple;
}

.announcements {
    background-color: blue;
}